<div class="footer">
  <div class="footer-content">
    <div class="about">
      <p>
        Aaradhya Disposal Industries Ltd., a renowned company, offers
        premium paper products like cup blanks and ripple blanks. We ensure
        quality production. With a decade of expertise, skilled teams ensure
        client satisfaction through meticulously crafted designs and rigorous
        quality checks, aiming for global expansion.
      </p>
    </div>
    <div class="mb-3">
      <p class="text-center">Connect With Us</p>
      <div class="d-flex gap-3 justify-content-center">
        <a><img src="/assets/icons/facebook.png" alt="" width="40px" height="40px" />
        </a>
        <a><img src="/assets/icons/instagram.png" alt="" width="40px" height="40px" /></a>
        <a><img src="/assets/icons/linkedin.png" alt="" width="40px" height="40px" /></a>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p class="mb-1">
      All Rights Reserved.
      <a href="/">Aaradhya Disposal Industries Ltd.</a>
      <a href="https://www.exportersindia.com/terms-conditions.htm">(Terms of Use)</a>
    </p>
    <p>
      Developed & Managed By
      <a href="https://www.lifecraftstudio.com/">Lifecraft Studio Pvt. Ltd.</a>
    </p>
  </div>
</div>