
@use "../../../assets/variables";
.company-info-container {
  padding: 20px;
  line-height: 1.6;

  .intro-text {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: justify;
  }
  .heading{
    color:variables.$primary-color;
    text-align: center;
    margin-bottom: 2rem;
  }
}
