<div class="company-info-container">
  <h2 class="heading">Our Investors</h2>
  <p class="intro-text">
    AARADHYA DISPOSAL INDUSTRIES LTD. is a reputable company dedicated to environmental health through its range of
    paper cup blank, ripple blank and other quality paper products. We prioritize quality raw materials like ITC,
    Century, Nippon, West Coast, ensuring excellence in our products. Our offerings include Poly Coated Paper Rolls,
    Embossed Ripple Wall Paper Fans, Bio-degradable coated paper and Multi-Colour Paper Fans, establishing us as a
    prominent Paper Products Manufacturer, Exporter, and Supplier.
    We have emerged as unparalleled leading name in the field of printing , packaging with its factory at Dewas
    M.P.(INDIA) and also have its opertaion Abroad (DUBAI).
  </p>

  <!-- <div class="info-cards">
    <div class="info-card">
      <h4>(Formerly known as AITMC Ventures Private Limited)</h4>
      <p><strong>CIN:</strong> U01611HR2016PLC066758</p>
      <p>
        <strong>Registered Office Address:</strong> Plot No 251, Second Floor,
        Udyog Vihar, Phase IV, Gurgaon – 122015
      </p>
      <p><strong>Phone:</strong> 18001235414</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:info@aitmcventures.in">info&#64;aitmcventures.in</a>
      </p>
    </div>

    <div class="info-card">
      <h4>Our Registrar and Share Transfer Agent</h4>
      <p><strong>Bigshare Services Pvt. Ltd.</strong></p>
      <p>
        <strong>Office Address:</strong> S6-2, 6th floor Pinnacle Business Park,
        Next to Ahura Centre, Mahakali Caves Road, Andheri (East) Mumbai –
        400093, India.
      </p>
      <p><strong>Phone:</strong> 022-6263 8200</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:info@bigshareonline.com">info&#64;bigshareonline.com</a>
      </p>
      <p>
        <strong>Website:</strong>
        <a href="https://www.bigshareonline.com" target="_blank">www.bigshareonline.com</a>
      </p>
    </div>

    <div class="info-card">
      <h4>Investor Grievance Redressal</h4>
      <p>
        <strong>Ms. Beenu Kharbanda</strong> (Company Secretary & Compliance
        Officer)
      </p>
      <p><strong>Phone:</strong> 0124-4922189</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:cs@avplinternational.com">cs@avplinternational.com</a>
      </p>
    </div>

    <div class="info-card">
      <h4>Details of Nodal Officer:</h4>
      <p><strong>Ms. Beenu Kharbanda</strong></p>
      <p><strong>Phone:</strong> 0124-4922189</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:cs@avplinternational.com">cs@avplinternational.com</a>
      </p>
    </div>
  </div> -->
</div>