<section class="section-container">
  <h1 class="text-center">Who Are We?</h1>

  <p>
    <span class="text-heading">AARADHYA DISPOSAL INDUSTRIES LTD.</span> is
    a reputable company dedicated to environmental health through its range of
    <span class="text-primary">paper cup blank, ripple blank and other quality paper products.</span>
    We prioritize quality raw materials like ITC, Century, Nippon, West Coast,
    ensuring excellence in our products. Our offerings include
    <span class="text-primary">Poly Coated Paper Rolls, Embossed Ripple Wall Paper Fans, Bio-degradable
      coated paper and Multi-Colour Paper Fans</span>, establishing us as a prominent Paper Products Manufacturer,
    Exporter, and
    Supplier.<br />
    We have emerged as unparalleled leading name in the field of printing ,
    packaging with its factory at Dewas M.P.(INDIA) and also have its opertaion
    Abroad (DUBAI).
  </p>

  <h3>Competitive Edge</h3>
  <p>
    Gaining a competitive edge, our Paper Products are crafted from high-quality
    raw materials. Having achieved milestones in the industry, we are poised to
    export globally. Our adept quality team ensures comprehensive quality
    assurance at every production stage.
  </p>
  <h3>Experience and Qualification</h3>
  <p>
    With over 10 years in the Paper Products field, our well-qualified team
    guarantees customer satisfaction, understanding client needs. Sensitive to
    client satisfaction, we welcome feedback as a valuable input. All our works
    are designed by a professional team to ensure customer satisfaction.
  </p>
  <h3>Delivery and Timeliness</h3>
  <p>
    In our company, delivery and timeliness are paramount. We understand the
    importance of meeting deadlines and ensuring products reach our customers
    promptly. Our streamlined processes and efficient logistics enable us to
    maintain swift turnaround times without compromising on quality. We
    prioritize customer satisfaction by adhering to agreed-upon delivery
    schedules, allowing our clients to rely on us for dependable and punctual
    service.
  </p>
  <h3>Vision</h3>
  <p>To be an industry leader by providing quality and innovative products.</p>
  <h3>Mission</h3>
  <p>
    To become the one-stop solution for all industries in packaging materials.
  </p>
  <h3>Values</h3>
  <p>
    Guided by sustainability and social responsibility, we adhere to ethical
    practices in producing innovative and quality products.
  </p>
  <h3>Quality Policy</h3>
  <p>
    The total production process here is executed under experienced supervision
    with stringent quality control parameters with the full support of
    management. It helps the team to provide a wide range of products with
    choices to customers. Whole production facilities are running under best
    industry practices, ISO standards, and stringent quality parameters.
  </p>
  <p>
    Apart from this, the quality control checks at each step from raw material
    inward to finished goods delivery to the customer are well settled and
    followed by the QC team that makes 100% client satisfaction for best quality
    packaging material. These quality parameters are set in alignment with
    international quality standards.
  </p>
  <p>
    Today We are serving the Indian and Global markets with PE-coated Papers,
    and many other packaging solutions in different sizes and Thickness. We use
    FSC, PEFC-certified papers for all food-grade applications and recycled
    Papers & Boards for Industrial Applications.
  </p>
  <h3>Sustainability</h3>
  <p>
    "We live & work in the society and nature to get something daily from its
    resources. We are actively consuming nature's resources and with the
    intention & motto of saving Mother Earth, we have taken a sustainability
    approach. 50% Recycling of our production waste is our target for 2025.
    Aaradhya Disposal Industries Pvt Ltd is eying 2025 for conversion of
    Production waste into Reusable Products. These Products will be used in
    making roads, plastic barricades & Plastic Pots, etc."
  </p>
  <div class="tags w-100 mt-5">
    <img src="assets/badge1.png" width="200px" height="200px" />
    <img src="assets/badge2.png" width="200px" height="200px" />
    <img src="assets/badge3.png" width="200px" height="200px" />
    <img src="assets/badge4.png" width="200px" height="200px" />
  </div>
</section>