<div class="kmp-container">
  <h2>AITMC VENTURES LIMITED</h2>
  <p>
    <strong>CIN:</strong> U01611HR2016PLC066758 &nbsp;&nbsp;
    <strong>Regd. Office:</strong> Plot No 251, Second Floor, Udyog Vihar, Phase
    IV, Gurgaon – 122015
  </p>
  <p>
    <strong>E mail id:</strong>
    <a href="mailto:info@avplinternational.com">info&#64;.com</a>,
    <strong>Telephone number:</strong> –
    <a href="tel:+911244922189">0124-4922189</a> &nbsp;
    <strong>Website:</strong>
    <a href="https://avplinternational.com/" target="_blank"
      >https://avplinternational.com/</a
    >
  </p>

  <h3>List of KMP</h3>

  <table>
    <thead>
      <tr>
        <th>S. No.</th>
        <th>Name</th>
        <th>DIN/PAN</th>
        <th>Designation</th>
        <th>Date of appointment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mr. Deep</td>
        <td>03223134</td>
        <td>Managing Director(KMP)</td>
        <td>07/09/2020</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ms. Beenu Kharbanda</td>
        <td>FMNPB3280F</td>
        <td>Company Secretary(KMP)</td>
        <td>15/03/2024</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Mr. Rupesh Sharma</td>
        <td>ARUPS7554C</td>
        <td>CFO(KMP)</td>
        <td>31/05/2024</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Mr. Himanshu Sharma</td>
        <td>EUIPS7399L</td>
        <td>CEO(KMP)</td>
        <td>21/08/2023</td>
      </tr>
    </tbody>
  </table>
</div>
