@use "../../assets/variables";


.investor-header {
  text-align: center;
  color: #666;
  margin-top: 1rem;
}

.investor-container {
  padding: 20px;
  
  .investor-nav {
    margin: auto;
    width: 100%;
    max-width: 300px;
    list-style: none;
    padding: 0;
    border: 1px solid #ddd;
    margin-bottom: 1.5rem;

    li {
      padding: 15px;
      font-size: 16px;
      color: #333;
      border-bottom: 1px solid #ddd;
      background-color: #f5f5f5;
      cursor: pointer;
      text-align: center;

      &.link-active {
        background-color: variables.$primary-color;
        color: #fff;
      }
      
      &:hover {
        background-color: variables.$primary-light;
      }

      a {
        text-decoration: none;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }

  .investor-details {
    width: 100%;
  }

  @media (min-width: variables.$bp-lg) {
    display: flex;
    gap: 2.5rem;
    align-items: start;
    .investor-nav {
      margin: 0;
      position: sticky;
      top: 2rem;
      width: 30%;
    }

    .investor-details {
      width: 70%;
    }
  }
}
