<div class="d-flex flex-column">
  <nav>
    <div class="navbar">
      <!-- three line menu -->
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
        <input class="checkbox" type="checkbox" (change)="showHide($event)" />
      </div>
      <div class="logo">
        <a href="/"
          ><img
            src="assets/aaradhya-logo.png"
            alt="Aaradhya Disposal Pvt Ltd."
            width="auto"
            height="80px"
        /></a>
      </div>
      <div class="nav-links" #navLink>
        <ul class="links" (click)="hideSideMenu($event)">
          <li><a routerLink="home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="about" routerLinkActive="active">About Us</a></li>
          <li class="menu" (click)="toggleSubMenu()">
            Products
            <span
              ><img src="assets/icons/down.svg" height="15px" width="auto"
            /></span>
            <ul class="sub-menu">
              <li>
                <a routerLink="products/coatedPaper" routerLinkActive="active"
                  >Coated Paper</a
                >
              </li>
              <li>
                <a routerLink="products/coatedRoll" routerLinkActive="active"
                  >PE Coated Rolls</a
                >
              </li>
              <li>
                <a routerLink="products/paperBlank" routerLinkActive="active"
                  >Paper Cup Blank</a
                >
              </li>
              <li>
                <a routerLink="products/ripple" routerLinkActive="active"
                  >Ripple Paper</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="infrastructure" routerLinkActive="active"
              >Infrastructure</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer class="footer"></app-footer>
</div>
