<div class="infra">
  <h2 class="text-center">Infrastructure</h2>
  <p class="mb-4 infra-content mx-auto">
    Our company possesses cutting-edge infrastructure for producing innovative
    and high-quality packaging materials. Featuring ultra modern latest
    machinery, an in-house, well-equipped laboratory, we maintain complete
    control over production and quality, ensuring stringent standards are met.
    This control mechanism, coupled with our commitment to continuous
    development, allows us to stay at the forefront of the industry,
    consistently delivering top-notch packaging solutions to our clients.
  </p>

  <div class="album">
    <div class="responsive-container-block bg">
      <div class="responsive-container-block img-cont">
        <img class="img" src="/assets/infra/1.jpeg" />
        <img class="img" src="/assets/infra/2.jpeg" />
        <img class="img" src="/assets/infra/3.jpeg" />
      </div>
      <div class="responsive-container-block img-cont">
        <img class="img" src="/assets/infra/4.jpeg" />
        <img class="img" src="/assets/infra/5.jpeg" />
        <img class="img" src="/assets/infra/9.jpeg" />
      </div>
      <div class="responsive-container-block img-cont">
        <img class="img" src="/assets/infra/6.jpeg" />
        <img class="img" src="/assets/infra/7.jpeg" />
        <img class="img" src="/assets/infra/8.jpeg" />
      </div>
    </div>
  </div>
</div>