<div class="company-info-container">
  <h2 class="heading">Our Investors</h2>
  <p class="intro-text">
    AVPL International is a leading force in the drone ecosystem. We have a
    presence across 12 states, featuring 50 Global Skill and Incubation Hubs and
    20 World Skill and Incubation Hubs dedicated exclusively to the Drone and
    Agriculture sectors. We offer Drone and Skill Training, Drone as a Service
    (DaaS), Drone Manufacturing, along with a chain of Agri-input Retail Outlets
    across India. We are also working towards the upliftment of rural youth by
    providing International and Competitive Training for global employment.
  </p>

  <div class="info-cards">
    <div class="info-card">
      <h4>(Formerly known as AITMC Ventures Private Limited)</h4>
      <p><strong>CIN:</strong> U01611HR2016PLC066758</p>
      <p>
        <strong>Registered Office Address:</strong> Plot No 251, Second Floor,
        Udyog Vihar, Phase IV, Gurgaon – 122015
      </p>
      <p><strong>Phone:</strong> 18001235414</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:info@aitmcventures.in">info&#64;aitmcventures.in</a>
      </p>
    </div>

    <div class="info-card">
      <h4>Our Registrar and Share Transfer Agent</h4>
      <p><strong>Bigshare Services Pvt. Ltd.</strong></p>
      <p>
        <strong>Office Address:</strong> S6-2, 6th floor Pinnacle Business Park,
        Next to Ahura Centre, Mahakali Caves Road, Andheri (East) Mumbai –
        400093, India.
      </p>
      <p><strong>Phone:</strong> 022-6263 8200</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:info@bigshareonline.com">info&#64;bigshareonline.com</a>
      </p>
      <p>
        <strong>Website:</strong>
        <a href="https://www.bigshareonline.com" target="_blank"
          >www.bigshareonline.com</a
        >
      </p>
    </div>

    <div class="info-card">
      <h4>Investor Grievance Redressal</h4>
      <p>
        <strong>Ms. Beenu Kharbanda</strong> (Company Secretary & Compliance
        Officer)
      </p>
      <p><strong>Phone:</strong> 0124-4922189</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:cs@avplinternational.com">cs@avplinternational.com</a>
      </p>
    </div>

    <div class="info-card">
      <h4>Details of Nodal Officer:</h4>
      <p><strong>Ms. Beenu Kharbanda</strong></p>
      <p><strong>Phone:</strong> 0124-4922189</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:cs@avplinternational.com">cs@avplinternational.com</a>
      </p>
    </div>
  </div>
</div>
