<div class="materiality-policy-container">
  <h3>Material policy</h3>

  <p>
    This policy (“Policy”) has been formulated to define the materiality policy
    for identification of group companies, litigation and outstanding dues to
    creditors in respect of AITMC Ventures Limited (“Company”) for the purposes
    of relevant disclosure in the Offer Document (defined herein below) pursuant
    to the requirements under Schedule VIII of the Securities and Exchange Board
    of India (Issue of Capital and Disclosure Requirements) Regulations, 2009
    (as amended from time to time) (“SEBI ICDR Regulations”). Identification of
    ‘Material’ Group Companies: Requirement As per the requirements of the SEBI
    ICDR Regulations, “Group companies”, wherever this term occurs, shall
    include such companies as covered under the applicable accounting standards
    (i.e. Accounting Standard 18/Ind AS 24 issued by the Institute of Chartered
    Accountants of India) and also any other companies as considered material by
    the Board. The policy on materiality for determination of such companies as
    considered material by the Board, as below,shall be disclosed in the draft
    red herring prospectus, red herring prospectus and prospectus issued by the
    Company in accordance with the provisions of the SEBI ICDR Regulations for
    the initial public offering of its equity shares (the “Offer Documents”).
    Policy on materiality: For the purpose of disclosures in the Offer
    Documents, as prescribed under the SEBI ICDR Regulations, all companies
    which are identified as related parties (in accordance with AS 18/Ind AS 24
    issued by the Institute of Chartered Accountants of India) on the basis of
    the restated consolidated financial statements to be included in the Offer
    Documents shall be identified as ‘Group Companies’ in the Offer Documents.
    In addition to group companies determined as per AS 18/Ind AS 24, the
    companies that are considered material by the Board shall be disclosed as
    ’Group Companies’ in the Offer Documents. A company shall be considered
    material and disclosed as ’Group Company’ if a material adverse change in
    such company, can lead to a material adverse effect on the Company and its
    revenues andprofitability. For the avoidance of doubt, it is clarified that
    the above policy on materiality shall be without prejudice to any disclosure
    requirements, which may be prescribed by SEBI and / or such other applicable
    authority with respect to listed companies and that the above policy on
    materiality is solely from the perspective of disclosure requirements
    prescribed under the SEBI ICDR Regulations with respect to the Offer
    Documents and should not be applied towards any other purpose.
    Identification of ‘Material’ Litigation (excluding criminal proceeding,
    statutory/regulatory actions and taxation matters:
  </p>

  <p>
    Requirement: As per the requirements of SEBI ICDR Regulations, the Company
    shall disclose all the litigations involving the Company/ its directors/
    promoter/ group companies in relation to:<br />
    1. All criminal proceedings;<br />
    2.All actions by statutory / regulatory authorities;<br />
    3. Taxation – Separate disclosures regarding claims related to direct and
    indirect taxes, in a consolidated manner giving details of number of cases
    and total amount;<br />
    4. Other pending litigations – As per the policy of materiality defined by
    the board of the issuer and disclosed in the Offer Documents.
  </p>
</div>
